# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\juegos\ProyectodePartidadeFracciones-NicolasRicoGarcia\proyectoDePartidaFracciones-NicolasRicoGarcia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
